<!DOCTYPE html>
<html>
    <head>
        <title>
            MIRPITY: SEE YOUR YEARLY MENTIONS
        </title>
        <meta name="description" content="twitter 2021 mentions recap tool">
        <meta name="keywords" content="twitter 2021 mentions recap tool">
    </head>
    <h1 style="color:#1E90FF";>Your Twitter 2021 Mentions (Wrapped)!</h1>
    <h3>See who has replyed to your tweets the most over the course of this year!</h3>
    <h3>Just put your username (i.e. themarchuerta) <br>
        below in the textbox and wait for the code to run!<br>
        It'll return the '@' of the user and number <br>
        of times they replyed to you in 2021!</h3>
    <body>
        Because there's no way to parse through private account tweets, <br>
        this tool will only work for public accounts.<br>
        By this I mean only public accounts can get access to <br>
        who has replied to them and only public accounts will <br>
        appear as people who've replied to them. Sorry about that!!<br>
        <br>
        You can optionally quickly go public, run the tool,<br>
         and then go back to private tho!
        <br><br>
        <strong>If the tool is not working, come back in 15 minutes.<br>
        It just means the tool is overloaded with requests and I am too <br>
        lazy to add something that tells you when it's overloaded 😭😭😭😭.</strong>
        <br><br>
        <em>Tool made by @themarchuerta on Twitter 😈😈😈</em>
        {% if data %}

        {{data}}

        {% endif %}

        <form action="/external/" method="post">
            {% csrf_token %}
            Enter Your Twitter Username Here without the '@':
            <input type="text" name="param" required><br><br>
            <input type="submit" value="Click Here To Run The Code!">
            {{data_external}}<br><br>
            {{data1|safe}}
            <br><br>
        </form>

    </body>
</html>
